*.gem
*.rbc
.bundle
.buildpath
.config
.project
.idea
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
nohup.out
log/*.log
scripts

# Sublime Text artifacts
*.sublime*

# YARD artifacts
.yardoc
_yardoc
doc/

/.rvmrc
/conf/hanlon_server.conf
/image
/node_modules
/hanlon_daemon.pid
/Gemfile.lock

/ext/packaging
