*.gem
*.rbc
.bundle
.buildpath
.config
.project
.idea
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
nohup.out

/cli/log/*.log
/web/log/*.log

/cli/conf/*.conf
/web/conf/*.conf

scripts

# Sublime Text artifacts
*.sublime*

# YARD artifacts
.yardoc
_yardoc
doc/

/.rvmrc
/image
/node_modules
/hanlon_daemon.pid
/Gemfile.lock

/ext/packaging
